<h1>@Model.Description's Details: </h1>

<h2>Name: @Model.Description</h2>  

<h2>Food Level: @Model.FoodLevel</h2>  
<form action="/tamagotchi/feed/@Model.Id" method="post">
  <button type="submit" name="feed" id="feed">Feed it</button>
</form>
<h2>Attention Level: @Model.AttentionLevel</h2>  
<form action="/tamagotchi/pet/@Model.Id" method="post">
  <button type="submit" name="pet" id="pet">Pet it</button>
</form>
<h2>Sleep Level: @Model.SleepLevel</h2>  
<form action="/tamagotchi/tranq/@Model.Id" method="post">
  <button type="submit" name="tranq" id="tranq">Read a bedtime story</button>
</form>


<a href='/tamagotchi/new'>Add another Tamagotchi</a>
<a href='/tamagotchi'>View all Tamagotchi</a>